body {
  text-align: center;
  font-family: Oswald, sans-sans-serif;
}
/*Styling for allNotes Section*/
#allNotes {
  text-align: right;
}

/*Styling for Modal*/
.modal {
  color: white;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
visibility: hidden;
text-align: justify;
z-index: 2;
top: 15%;
width: 80%;
height: 50%;
overflow: auto;
background-color: rgba(0,100,100,1);
position: fixed;
  padding: 70px;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.labels {
  font-size: 1.5rem;
  padding: 0 20px;
}

/*Styling for div created in Javascript*/
.note-holder {
  border: 1px solid black;
  margin: 10px 0;
  padding: 20px;
  text-align: left;
}
/*Styling for deleteBtn created in Javascript*/
.delete-btn {
text-align: right;
margin-top: 20px;
}
/*Styling for noteText*/
.noteText {
  display: inline-block;
  width: 80%
}
